/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.ama-weather-block {
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease;
  background: #fff 50%;
}

.ama-weather-block:focus {
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
  transition: all 0.3s ease;
  transform: translate3D(0, -1px, 0);
}
.ama-weather-block:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease;
  transform: translate3D(0, -1px, 0) scale(1.02);
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.weather {
  display: flex;
  padding: 8px;
  margin-top: 15px;
}
.city a,
.geo-coords a {
  color: #e96e50;
  text-decoration: none;
}

.weather-info {
  margin-top: 3px;
}
.city-info {
  display: flex;
}
.city {
  flex-grow: 1;
}
.weather-info,
.city {
  display: flex;
  align-items: center;
}
.city a,
.description {
  font-weight: 700;
}

.badge-info {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #4e4d4a;
  border-radius: 10px;
  margin-right: 3px;
}

.flag {
  display: block;
  margin: 0 3px;
}
.weather-icon {
  border-radius: 10px;
  padding: 5px;
  margin: 0 2px;
  background-color: #b8b7b5;
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 50%;
}

.weather-icon img {
  width: 100%;
  height: 100%;
}
.weather-status i {
  display: inline-block;
  margin: 0 4px;
  font-weight: 600;
}
.temperature::after,
.clouds::after {
  content: ",";
  display: inline-block;
  margin-right: 3px;
}
